.App {
  text-align: center;
}

.weatherContainer {
  /* display: flex; */
  justify-content: center;
}
.box {
  margin: auto;
  min-height: 250px;
  max-height: 250px;
  min-width: 300px;
  max-width: 301px;
  outline: 1px solid black;
}

.city {
  /* min-width: 100%; */
}
.list {
  list-style: none;
  align-content: flex-start;
  padding-left: .4rem;
  text-align: left;
}
.weatherFetch {
  /* display:flex; */
  /* align-self: flex-end; */
  /* margin-bottom: auto; */
  
}
.weatherFetchForm {
  display:flex;
  justify-content: center;
}

.textInput {

}